$fa-font-path: "~font-awesome/fonts";

@import "~bootstrap/scss/utilities/spacing";
@import "~bootstrap/scss/utilities/flex";
@import "~font-awesome/scss/font-awesome";


.frame {
  @extend .row, .no-gutters;
  cursor: pointer;
  border-bottom: 1px $gray-200 solid;

  &.frame-in {
    background: transparentize($green, 0.9);
    .frame-icon {
      @extend .fa, .fa-arrow-circle-down, .fa-fw;
      color: $green;
    }
  }

  &.frame-out {
    .frame-icon {
      @extend .fa, .fa-arrow-circle-up, .fa-fw;
    }
  }

  &.frame-selected {
    background: transparentize($blue, 0.6);
  }

  .frame-icon {
    @extend .mx-1;
    margin: auto 0;
  }

  .frame-event {
    @extend .pr-2;
    width: 150px;
    border-right: 1px $gray-200 solid;
    overflow: auto;
  }

  .frame-data {
    @extend .px-2;
    width: calc(100% - 150px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
  }
}

.message-preview {
  @extend .px-2, .py-1, .d-flex;
  overflow: auto;
}
