@import "~bootstrap/scss/utilities/spacing";
@import "~bootstrap/scss/utilities/flex";
@import "~bootstrap/scss/mixins/buttons";

.btn-xs {
  display: inline-flex;
  @include button-size(.2rem, .25rem, .875rem, 0.75, $btn-border-radius-sm);
  height: 22px;
  width: 22px;
}

.frames {
  overflow: auto;
}

.frame {
  @extend .row, .no-gutters;
  cursor: pointer;
  border-bottom: 1px $gray-200 solid;
  position: relative;

  .frame-actions {
    display: none;
  }

  &:hover {
    background: transparentize($blue, 0.8) !important;
    &.frame-in {
      .frame-repeat {
        display: none;
      }
    }
    .frame-actions {
      display: inline-flex;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: $zindex-dropdown;
      .octicon {
        display: inline-flex;
        margin: auto 0;
      }
    }
    .frame-data {
      width: calc(100% - 180px);
    }
  }

  &.frame-in {
    background: transparentize($green, 0.9);
    .frame-icon {
      color: $green;
    }
  }

  &.frame-selected {
    background: transparentize($blue, 0.6);
  }

  .frame-icon {
    @extend .mx-1, .d-flex;
    .fa-icon {
      display: inline-flex;
      margin: auto 0;
    }
  }

  .frame-event {
    @extend .pr-2, .d-flex, .flex-row;
    width: 150px;
    border-right: 1px $gray-200 solid;
    overflow: auto;
  }

  .frame-data {
    @extend .px-2;
    width: calc(100% - 150px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
  }
}

.message-preview {
  @extend .px-2, .py-1, .d-flex;
  overflow: auto;
}
